 3a. Reads a value of temperature in Celsius degrees (ºC) and converts it into a temperature in Fahrenheit degrees (ºF).

In [ ]:
celsius = float(input())
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37
37.0 degree Celsius is equal to 98.6 degree Fahrenheit

3b. Reads the length of the two smallest sides of a right triangle and calculates the length
of the hypotenuse

In [ ]:
a = float(input())
b = float(input())
print(math.sqrt(a**2+b**2))

3c. Reads a string and converts it to capital letters, printing the result.

In [ ]:
str = input()
print(str.upper())

alpha
ALPHA

3d. Adapt the previous program to read the string from a file, whose name is entered by the user.

In [ ]:
name = input()
f = open(name, 'w')
f.write('apple\n')
f.write('orange\n')
f.write('pear\n')
f.close()   
f = open('test.txt', 'r')
f.readlines()        # Read all (next) lines into a list of strings

test

['apple\n', 'orange\n', 'pear\n']

In [ ]:
f.close()

3e. Reads a string and checks if it is a palindrome, i.e. if it reads the same when it is
reversed. Implement different versions using functions over strings, and cycles
(for/while).

In [ ]:
def isPalindrome(s):
    return s == s[::-1] 
# Driver code
s = "malayalam"
ans = isPalindrome(s)
if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
def isPalindrome(str):
    # Run loop from 0 to len/2
    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True
s = "malayalam"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

3f. Reads three numerical values from the standard input, and calculates the largest and
the smallest value.

In [ ]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
arr = [n1, n2, n3]
print("The largest: ", max(arr))
print("The smallest: ", min(arr))

1
2
3
The largest:  3
The smallest:  1

3g. Reads two numerical intervals (defined by lower and upper range), and outputs their union and their intersection.

In [ ]:
import numpy as np 
a = set(np.arange(1, 5)) #Creating an array of 10 elements 
b = set(np.arange(3, 11)) #Creating an array of 10 elements 
a & b

{3, 4}

In [ ]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

3h. Reads a numerical interval (defined by lower and upper range), and calculates the sum of all integer values includes in the interval.

---

In [ ]:
import numpy as np 
a = np.arange(1, 10)
n = len(a)
print("Sum of given array is ", sum(a));

Sum of given array is  45

3i. Reads a sequence of integer (positive) values, terminated by value 0, and outputs their sum, mean and largest value.

In [ ]:
import statistics
n = int(input('How many do you want to read?'))
alist = [] 
for i in range(n):
  x = int(input())
  if(x == 0):
    break
  else:
    alist.append(x)

print(sum(alist))
print(max(alist))
x = statistics.mean(alist)
print("Mean is :", x)

How many do you want to read?3
1
2
3
6
3
Mean is : 2

3j. Reads a sequence of integer (positive) values, terminated by value 0, and outputs the same sequence in decreasing order

In [ ]:
n = int(input('How many do you want to read?'))
alist = [] 
for i in range(n):
  x = int(input())
  if(x == 0):
    break
  else:
    alist.append(x)
alist.sort(reverse = True)
print(alist)

How many do you want to read?5
1
2
3
4
5
[5, 4, 3, 2, 1]

4. Repeat the previous exercise, now creating functions for the different tasks and calling those functions within your programs.

a. Reads a value of temperature in Celsius degrees (ºC) and converts it into a temperature in Fahrenheit degrees (ºF).

In [ ]:
def cf(celsius):
  fahrenheit = (celsius * 1.8) + 32
  print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

In [ ]:
cf(39.5)

39.5 degree Celsius is equal to 103.1 degree Fahrenheit

b.Reads the length of the two smallest sides of a right triangle and calculates the length
of the hypotenuse

In [ ]:
import math
def hypotenuse(a, b):
  print(math.sqrt(a**2+b**2))
hypotenuse(3, 4)

5.0

c.Reads a string and converts it to capital letters, printing the result.

In [ ]:
def upper(str):
  print(str.upper())
upper("alpha")

ALPHA

d. Adapt the previous program to read the string from a file, whose name is entered by the user.

In [ ]:
def f(name):
  f = open(name, 'w')
  f.write('apple\n')
  f.write('orange\n')
  f.write('pear\n')
  f.close()         
f("test.txt")
f = open('test.txt', 'r')
f.readlines()

['apple\n', 'orange\n', 'pear\n']

e. Reads a string and checks if it is a palindrome, i.e. if it reads the same when it is reversed. Implement different versions using functions over strings, and cycles (for/while).

In [ ]:
def isPalindrome(s):
    return s == s[::-1] 
# Driver code
s = "malayalam"
ans = isPalindrome(s)
if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
def isPalindrome(str):
    # Run loop from 0 to len/2
    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True
s = "malayalam"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

f. Reads three numerical values from the standard input, and calculates the largest and the smallest value.

In [ ]:
def small_large():
  n1 = int(input())
  n2 = int(input())
  n3 = int(input())
  arr = [n1, n2, n3]
  print("The largest: ", max(arr))
  print("The smallest: ", min(arr))
small_large()

1
2
3
The largest:  3
The smallest:  1

g. Reads two numerical intervals (defined by lower and upper range), and outputs their union and their intersection.

In [ ]:
import numpy as np 
def union_inter():
  a = set(np.arange(1, 5)) #Creating an array of 10 elements 
  b = set(np.arange(3, 11)) #Creating an array of 10 elements 
union_inter()
a & b

{3, 4}

In [ ]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

h. Reads a numerical interval (defined by lower and upper range), and calculates the sum of all integer values includes in the interval.

In [ ]:
import numpy as np 
def s():
  a = np.arange(1, 10)
  n = len(a)
  print("Sum of given array is ", sum(a));
s()

Sum of given array is  45

i. Reads a sequence of integer (positive) values, terminated by value 0, and outputs their sum, mean and largest value.

In [ ]:
import statistics
def stat():
  n = int(input('How many do you want to read?'))
  alist = [] 
  for i in range(n):
    x = int(input())
    if(x == 0):
      break
    else:
      alist.append(x)

  print(sum(alist))
  print(max(alist))
  x = statistics.mean(alist)
  print("Mean is :", x)

stat()

How many do you want to read?3
1
2
3
6
3
Mean is : 2

j. Reads a sequence of integer (positive) values, terminated by value 0, and outputs the same sequence in decreasing order

In [ ]:
def descend():
  n = int(input('How many do you want to read?'))
  alist = [] 
  for i in range(n):
    x = int(input())
    if(x == 0):
      break
    else:
      alist.append(x)
  alist.sort(reverse = True)
  print(alist)
descend()

How many do you want to read?3
1
2
3
[3, 2, 1]

5. Define a class to represent a rectangle, where the attributes should be height and length.
a. Implement the following methods: constructor; calculate area; calculate perimeter;
calculate length of the diagonal.
b. Test your class defining instances of different sizes.
c. Implement a sub-class (child) that extends this class, to represent squares

In [ ]:
import math
class Rectangle():
    def __init__(self, l, w):
        self.length = l
        self.width  = w
    def area(self):
        return self.length*self.width
    def perim(self):
        return 2*(self.length + self.width)
    def diagonal(self):
        return math.sqrt(self.length**2 + self.width ** 2)
class Square(Rectangle):
    def __init__(self, side):
        super().__init__(side, side)

In [ ]:
newRectangle = Rectangle(12, 10)
print(newRectangle.area())
print(newRectangle.perim())
print(newRectangle.diagonal())

120
44
15.620499351813308

In [ ]:
my_square = Square(2)
my_square.diagonal()

2.8284271247461903

In [ ]:
my_square.area()

4

In [ ]:
my_square.perim()

8

6. Extend the class for handling sequences developed in this chapter, defining a sub-class to
handle DNA sequences. Implement a method to validate if the sequence is valid (i.e. if it
only contains the symbols “A”, “C”, “G”, or “T”). Add other methods that you think may
be useful in this context.

In [ ]:
class MySeq:
  def __init__( self , seq, seq_type = "DNA"):
    self .seq = seq
    self .seq_type = seq_type
  def print_sequence( self ):
    print ("Sequence: " + self .seq)
  def get_seq_biotype ( self ):
    return self .seq_type
  def show_info_seq ( self ):
    print ("Sequence: " + self .seq + " biotype: " + self .seq_type)
  def count_occurrences( self , seq_search):
    return self .seq.count(seq_search)
  def check(self, seq):
    if("T" in seq or "A" in seq or "G" in seq or "C" in seq):
      return "Sequence is Valid"
    else:
      return "Not valid sequence"

In [ ]:
s1 = MySeq("ATAATGATAGATAGATGAT")
# access attribute values
print (s1.seq)
print (s1.seq_type)
# calling methodss
s1.print_sequence()
print (s1.get_seq_biotype())

ATAATGATAGATAGATGAT
DNA
Sequence: ATAATGATAGATAGATGAT
DNA

In [ ]:
s1.check(s1.seq)

'Sequence is Valid'